/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h2 {
  background: #8DC641;
  color: #fff;
  font-size:16px;
}

h2 span{
    padding:10px;
}

  h2::after {
    content: '';
    display: block;
    background: #5293B3;
    height:10px;
    width:100%;
  }
