<h2><span>Acervo de Livros</span></h2>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <a style="cursor:pointer">
        <div class="card">
          <img class="card-top" src="" />
          <div class="card-body">
            <h3 class="card-title">Titulo do Livro</h3>
            <h4 class="card-text">Autor: Fernando Dias</h4>
            <h5 class="h5">Qtd: 233</h5>
            <h5 class="h5">Data de Publicação: 10/10/2010</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
